/* The class dlsContainer should be applied so that no margins are around it */
.dlsContainer {
  margin: 0px 8px;
  display: grid;
  grid-template-columns: [content] 1fr;
}

.dlsFreeContainer {
  margin: 0px 16px;
}

/* The class dlsSidebar should be nested directly below the class dlsContainer */
.dlsContainer .dlsSidebar {
  min-width: 224px;
  width: 224px;
  margin-left: 12px;
  margin-right: 48px;
  display: none;
}

/* The class dlsGridContent should be nested directly below the class dlsContainer */
.dlsContainer .dlsGridContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  grid-auto-rows: minmax(min-content, max-content);
  margin: 0px 8px;
}

/* The class dlsRowContent should be nested directly below the class dlsContainer */
.dlsRowContent > .dlsRow {
  display: flex;
  flex-wrap: wrap;
}

.dlsGridContent .dlsColSmallSpan1 {
  grid-column: auto / span 1;
}
.dlsRowContent .dlsColSmallSpan1 {
  flex-basis: calc(25% - 16px);
  margin: 0px 8px;
}

.dlsGridContent .dlsColSmallSpan2 {
  grid-column: auto / span 2;
}
.dlsRowContent .dlsColSmallSpan2 {
  flex-basis: calc(50% - 16px);
  margin: 0px 8px;
}

.dlsGridContent .dlsColSmallSpan3 {
  grid-column: auto / span 3;
}
.dlsRowContent .dlsColSmallSpan3 {
  flex-basis: calc(75% - 16px);
  margin: 0px 8px;
}

.dlsGridContent .dlsColSmallSpan4 {
  grid-column: auto / span 4;
}
.dlsRowContent .dlsColSmallSpan4 {
  flex-basis: 100%;
  margin: 0px 8px;
}

.dlsGridContent .dlsColSmallStart1 {
  grid-column-start: 1;
}

.dlsGridContent .dlsColSmallStart2 {
  grid-column-start: 2;
}
.dlsRowContent .dlsColSmallOffset1 {
  margin-left: calc(25% + 8px);
}

.dlsGridContent .dlsColSmallStart3 {
  grid-column-start: 3;
}
.dlsRowContent .dlsColSmallOffset2 {
  margin-left: calc(50% + 8px);
}

.dlsGridContent .dlsColSmallStart4 {
  grid-column-start: 4;
}
.dlsRowContent .dlsColSmallOffset3 {
  margin-left: calc(75% + 8px);
}

@media (min-width: 600px) {
  .dlsContainer {
    margin: 0px 20px;
  }

  .dlsFreeContainer {
    margin: 0px 32px;
  }

  .dlsContainer .dlsGridContent {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    margin: 0px 12px;
  }

  /* If small is defaulted to, we need to adjust for a bigger gap */
  .dlsGridContent .dlsColSmallSpan1 {
    grid-column: auto / span 1;
  }
  .dlsRowContent .dlsColSmallSpan1 {
    flex-basis: calc(25% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColSmallSpan2 {
    grid-column: auto / span 2;
  }
  .dlsRowContent .dlsColSmallSpan2 {
    flex-basis: calc(50% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColSmallSpan3 {
    grid-column: auto / span 3;
  }
  .dlsRowContent .dlsColSmallSpan3 {
    flex-basis: calc(75% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColSmallSpan4 {
    grid-column: auto / span 4;
  }
  .dlsRowContent .dlsColSmallSpan4 {
    flex-basis: 100%;
    margin: 0px 12px;
  }

  .dlsRowContent .dlsColSmallOffset1 {
    margin-left: calc(25% + 12px);
  }

  .dlsRowContent .dlsColSmallOffset2 {
    margin-left: calc(50% + 12px);
  }

  .dlsRowContent .dlsColSmallOffset3 {
    margin-left: calc(75% + 12px);
  }
  /* ^ Small default handling end ^ */

  .dlsGridContent .dlsColMediumSpan1 {
    grid-column: auto / span 1;
  }
  .dlsRowContent .dlsColMediumSpan1 {
    flex-basis: calc(12.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan2 {
    grid-column: auto / span 2;
  }
  .dlsRowContent .dlsColMediumSpan2 {
    flex-basis: calc(25% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan3 {
    grid-column: auto / span 3;
  }
  .dlsRowContent .dlsColMediumSpan3 {
    flex-basis: calc(37.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan4 {
    grid-column: auto / span 4;
  }
  .dlsRowContent .dlsColMediumSpan4 {
    flex-basis: calc(50% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan5 {
    grid-column: auto / span 5;
  }
  .dlsRowContent .dlsColMediumSpan5 {
    flex-basis: calc(62.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan6 {
    grid-column: auto / span 6;
  }
  .dlsRowContent .dlsColMediumSpan6 {
    flex-basis: calc(75% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan7 {
    grid-column: auto / span 7;
  }
  .dlsRowContent .dlsColMediumSpan7 {
    flex-basis: calc(87.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumSpan8 {
    grid-column: auto / span 8;
  }
  .dlsRowContent .dlsColMediumSpan8 {
    flex-basis: 100%;
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColMediumStart1 {
    grid-column-start: 1;
  }

  .dlsGridContent .dlsColMediumStart2 {
    grid-column-start: 2;
  }
  .dlsRowContent .dlsColMediumOffset1 {
    margin-left: calc(12.5% + 12px);
  }

  .dlsGridContent .dlsColMediumStart3 {
    grid-column-start: 3;
  }
  .dlsRowContent .dlsColMediumOffset2 {
    margin-left: calc(25% + 12px);
  }

  .dlsGridContent .dlsColMediumStart4 {
    grid-column-start: 4;
  }
  .dlsRowContent .dlsColMediumOffset3 {
    margin-left: calc(37.5% + 12px);
  }

  .dlsGridContent .dlsColMediumStart5 {
    grid-column-start: 5;
  }
  .dlsRowContent .dlsColMediumOffset4 {
    margin-left: calc(50% + 12px);
  }

  .dlsGridContent .dlsColMediumStart6 {
    grid-column-start: 6;
  }
  .dlsRowContent .dlsColMediumOffset5 {
    margin-left: calc(62.5% + 12px);
  }

  .dlsGridContent .dlsColMediumStart7 {
    grid-column-start: 7;
  }
  .dlsRowContent .dlsColMediumOffset6 {
    margin-left: calc(75% + 12px);
  }

  .dlsGridContent .dlsColMediumStart8 {
    grid-column-start: 8;
  }
  .dlsRowContent .dlsColMediumOffset7 {
    margin-left: calc(87.5% + 12px);
  }
}

@media (min-width: 769px) {
  .dlsContainer {
    margin: 0px 52px;
    grid-template-columns: [sidebar] auto [content] 1fr;
  }

  .dlsFreeContainer {
    margin: 0px 64px;
  }

  .dlsContainer .dlsGridContent {
    grid-column: content;
    grid-template-columns: repeat(8, 1fr);
  }

  .dlsContainer .dlsRowContent {
    grid-column: content;
  }

  .dlsContainer .dlsSidebar {
    display: inline;
    grid-column: sidebar;
    grid-row: 1/20;
  }

  .dlsGridContent .dlsColLargeSpan1 {
    grid-column: auto / span 1;
  }
  .dlsRowContent .dlsColLargeSpan1 {
    flex-basis: calc(12.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan2 {
    grid-column: auto / span 2;
  }
  .dlsRowContent .dlsColLargeSpan2 {
    flex-basis: calc(25% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan3 {
    grid-column: auto / span 3;
  }
  .dlsRowContent .dlsColLargeSpan3 {
    flex-basis: calc(37.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan4 {
    grid-column: auto / span 4;
  }
  .dlsRowContent .dlsColLargeSpan4 {
    flex-basis: calc(50% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan5 {
    grid-column: auto / span 5;
  }
  .dlsRowContent .dlsColLargeSpan5 {
    flex-basis: calc(62.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan6 {
    grid-column: auto / span 6;
  }
  .dlsRowContent .dlsColLargeSpan6 {
    flex-basis: calc(75% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan7 {
    grid-column: auto / span 7;
  }
  .dlsRowContent .dlsColLargeSpan7 {
    flex-basis: calc(87.5% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeSpan8 {
    grid-column: auto / span 8;
  }
  .dlsRowContent .dlsColLargeSpan8 {
    flex-basis: 100%;
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColLargeStart1 {
    grid-column-start: 1;
  }

  .dlsGridContent .dlsColLargeStart2 {
    grid-column-start: 2;
  }
  .dlsRowContent .dlsColLargeOffset1 {
    margin-left: calc(12.5% + 12px);
  }

  .dlsGridContent .dlsColLargeStart3 {
    grid-column-start: 3;
  }
  .dlsRowContent .dlsColLargeOffset2 {
    margin-left: calc(25% + 12px);
  }

  .dlsGridContent .dlsColLargeStart4 {
    grid-column-start: 4;
  }
  .dlsRowContent .dlsColLargeOffset3 {
    margin-left: calc(37.5% + 12px);
  }

  .dlsGridContent .dlsColLargeStart5 {
    grid-column-start: 5;
  }
  .dlsRowContent .dlsColLargeOffset4 {
    margin-left: calc(50% + 12px);
  }

  .dlsGridContent .dlsColLargeStart6 {
    grid-column-start: 6;
  }
  .dlsRowContent .dlsColLargeOffset5 {
    margin-left: calc(62.5% + 12px);
  }

  .dlsGridContent .dlsColLargeStart7 {
    grid-column-start: 7;
  }
  .dlsRowContent .dlsColLargeOffset6 {
    margin-left: calc(75% + 12px);
  }

  .dlsGridContent .dlsColLargeStart8 {
    grid-column-start: 8;
  }
  .dlsRowContent .dlsColLargeOffset7 {
    margin-left: calc(87.5% + 12px);
  }
}

@media (min-width: 1025px) {
  .dlsContainer .dlsGridContent {
    grid-template-columns: repeat(12, 1fr);
  }

  .dlsGridContent .dlsColXLargeSpan1 {
    grid-column: auto / span 1;
  }
  .dlsRowContent .dlsColXLargeSpan1 {
    flex-basis: calc(8.333% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan2 {
    grid-column: auto / span 2;
  }
  .dlsRowContent .dlsColXLargeSpan2 {
    flex-basis: calc(16.667% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan3 {
    grid-column: auto / span 3;
  }
  .dlsRowContent .dlsColXLargeSpan3 {
    flex-basis: calc(25% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan4 {
    grid-column: auto / span 4;
  }
  .dlsRowContent .dlsColXLargeSpan4 {
    flex-basis: calc(33.333% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan5 {
    grid-column: auto / span 5;
  }
  .dlsRowContent .dlsColXLargeSpan5 {
    flex-basis: calc(41.666% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan6 {
    grid-column: auto / span 6;
  }
  .dlsRowContent .dlsColXLargeSpan6 {
    flex-basis: calc(50% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan7 {
    grid-column: auto / span 7;
  }
  .dlsRowContent .dlsColXLargeSpan7 {
    flex-basis: calc(58.333% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan8 {
    grid-column: auto / span 8;
  }
  .dlsRowContent .dlsColXLargeSpan8 {
    flex-basis: calc(66.667% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan9 {
    grid-column: auto / span 9;
  }
  .dlsRowContent .dlsColXLargeSpan9 {
    flex-basis: calc(75% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan10 {
    grid-column: auto / span 10;
  }
  .dlsRowContent .dlsColXLargeSpan10 {
    flex-basis: calc(83.333% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan11 {
    grid-column: auto / span 11;
  }
  .dlsRowContent .dlsColXLargeSpan11 {
    flex-basis: calc(91.667% - 24px);
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeSpan12 {
    grid-column: auto / span 12;
  }
  .dlsRowContent .dlsColXLargeSpan12 {
    flex-basis: 100%;
    margin: 0px 12px;
  }

  .dlsGridContent .dlsColXLargeStart1 {
    grid-column-start: 1;
  }

  .dlsGridContent .dlsColXLargeStart2 {
    grid-column-start: 2;
  }
  .dlsRowContent .dlsColXLargeOffset1 {
    margin-left: calc(8.333% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart3 {
    grid-column-start: 3;
  }
  .dlsRowContent .dlsColXLargeOffset2 {
    margin-left: calc(16.667% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart4 {
    grid-column-start: 4;
  }
  .dlsRowContent .dlsColXLargeOffset3 {
    margin-left: calc(25% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart5 {
    grid-column-start: 5;
  }
  .dlsRowContent .dlsColXLargeOffset4 {
    margin-left: calc(33.333% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart6 {
    grid-column-start: 6;
  }
  .dlsRowContent .dlsColXLargeOffset5 {
    margin-left: calc(41.667% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart7 {
    grid-column-start: 7;
  }
  .dlsRowContent .dlsColXLargeOffset6 {
    margin-left: calc(50% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart8 {
    grid-column-start: 8;
  }
  .dlsRowContent .dlsColXLargeOffset7 {
    margin-left: calc(58.333% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart9 {
    grid-column-start: 9;
  }
  .dlsRowContent .dlsColXLargeOffset8 {
    margin-left: calc(66.667% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart10 {
    grid-column-start: 10;
  }
  .dlsRowContent .dlsColXLargeOffset9 {
    margin-left: calc(75% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart11 {
    grid-column-start: 11;
  }
  .dlsRowContent .dlsColXLargeOffset10 {
    margin-left: calc(83.333% + 12px);
  }

  .dlsGridContent .dlsColXLargeStart12 {
    grid-column-start: 12;
  }
  .dlsRowContent .dlsColXLargeOffset11 {
    margin-left: calc(91.667% + 12px);
  }
}

@media (min-width: 1440px) {
  .dlsContainer {
    margin: 0px auto;
    max-width: 1336px; /* 52px + 1336px + 52px = 1440px */
  }

  .dlsFreeContainer {
    margin: 0px auto;
    max-width: 1312px; /* 64px + 1312px + 64px = 1440px */
  }
}
